header {
  box-shadow: 0px 0px 25px 3px bisque;
}

nav {
  padding-top: 10px;
  align-items: center;
  display: flex;
}

nav li {
  padding-right: 20px;
  font-size: 20px;
}

nav a {
  color: black;
  text-decoration: none;
}

nav a:hover {
  color: burlywood;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 50px;
}

main aside {
  width: 30%;
  margin-left: 50px;
  margin-top: 80px;
  display: flex;
}

main aside li {
  margin-bottom: 20px;
  text-align: left;
}

main section {
  width: 70%;
  margin-right: 50px;
  margin-top: 80px;
  display: flex;
}

main article p {
  margin-left: 50px;
  margin-top: 50px;
  text-align: left;
}

footer {
  display: flex;
  align-items: center;
  height: 200px;
  background-color: grey;
}

footer a {
  color: black;
  text-decoration: none;
}

footer ul {
  text-align: center;
  justify-content: center;
}

footer hr {
  width: 50px;
}
