header {
  box-shadow: 0px 0px 25px 3px bisque;
}

nav {
  padding-top: 10px;
  align-items: center;
  display: flex;
}

nav li {
  padding-right: 20px;
  font-size: 20px;
}

nav a {
  color: black;
  text-decoration: none;
}

nav a:hover {
  color: burlywood;
}





footer{
    background-color: grey;
}
